
.header{
  background: linear-gradient(140deg, #1b1d35, #171d58);
  text-align: center;
  color: #6deb6d;
  top: 0;
  left: 0;
  border-radius: 10px;
  font-family: 'Montserrat';
  height: 100px;
}

.header h1 {
  font-size: 60px;
}

.body {
  background: linear-gradient(140deg, #1b1d35, #171d58);
}
.search-col{
  width: 100% ;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.search-box{
	width:70%;
}
.auto-suggest{
  width:73%;
  z-index: 2;
  position: absolute;
}

.not-search{
  z-index: 1;
  position: relative;
}
/* .search-box{
  position: absolute;
  width: 50%;
  transform: (-50%, -50%);
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
} */

.search-btn{
	color: #1db954;
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #2f3640;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	right: 0;
	position: absolute;
  
  }
  
  .search-txt{
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	width: 90%;
	color: white;
	font-size: 16px;
	transition: 0.4s;
	line-height: 20px;
	border-bottom: 1px solid #1db954;
  }

.check-col{
  /* width: 100%; */
  background-color: #90EE90;
  border-radius: 10px;
  margin-top:10px;
}

/* Song layout */
.song-component{
	height: 300px !important; 
	background-color: #E7E1A6;
	display: flex;
	flex-direction: row;
	/* flex-wrap: nowrap; */
	white-space: nowrap;
	/* justify-content: center;*/
	align-items: center; 
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

.song-component::-webkit-scrollbar {
  display: none;
}

.artist-component{
	height: 300px !important; 
  background-color:#77acd4;
  display: flex;
  flex-direction: row;
  /* flex-wrap: nowrap; */
  white-space: nowrap;
  /* justify-content: center;*/
  align-items: center; 
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.artist-component::-webkit-scrollbar {
  display: none;
}

.genre-component{
	height: 300px !important; 
  background-color:	#FFB6C1;
  display: flex;
  flex-direction: row;
  /* flex-wrap: nowrap; */
  white-space: nowrap;
  /* justify-content: center;*/
  align-items: center; 
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.genre-component::-webkit-scrollbar {
  display: none;
}

.card--content {
  background-color: #e74c3c;
  min-width: 200px;
  height: 200px;
  margin: 5px;
  display: inline-block;
  float: none;
}

/* .artist-component{
	height: 300px !important; 
	background-color: lightcoral;
} */
/* .genre-component{
	height: 300px !important; 
	background-color:;
} */


h2{
  font-family: Arial, Helvetica, sans-serif;
}
body{
	background-color: #000000;
}

.new-row{
  border-radius: 10px;
  margin:10px;
  height: auto;
  min-height: 200px;
  flex: 1;
}

.song-component .card--content{
  bottom: 0px;
  position: relative;
}

.column{
  float: left;
  /* margin: 10px; */
}

.live_scroll {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  align-items: center;
}
.live_scroll .new-row{
  display: block;
}

.live_scroll card--content {
    display: inline-block;
    float: left;
    padding: 15px;
    border: 1px solid red;
  }

.artist-box{
  height: 250px;
  width: 250px;
  display: inline-block;
  float: none;
  margin: 5px;

}

.genre-box{
  height: 240px;
  width: 240px;
  display: inline-block;
  float: none;
  margin: 5px;
}

.artist-box > img {
  border: 1px solid #ddd;
  border-radius: 50%;
  /* padding: 5px; */
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.artist-box > p {
  bottom: 0;
  text-align:center
}

.artist-card{
	z-index: 3;
	position: absolute !important;
}

.list-group-item:hover{
  background-color: #1db954;
}

.list-group-item > img{
  left: 0;
  float: left;
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.list-group-item > p{
  float: left;
}