

.header{
  background-color: rgba(0,0,0,0.8);
  text-align: center;
/*                background-color: #000000;*/
  color: white;
  top: 0;
  left: 0;
  border-radius: 10px;
  font-family: 'Montserrat';
  font-size: 20px;
}
.search-box{
  width: 65% ;
  border-radius: 10px;
	background-color: lightpink;
}
.check-box{
  width: 34%;
  background-color: aquamarine;
  margin-left: 10px;
  border-radius: 10px;
}
.song-component{
	height: 400px; 
	background-color: aqua;
}
.artist-component{
	height: 400px; 
	background-color: lightcoral;
}
.genre-component{
	height: 400px; 
	background-color: rgb(240, 236, 204);
}

body{
	background-color: #000000;
}

.row{
  border-radius: 10px;
  margin:10px;
  height: 400px;
}

.column{
  float: left;
  /* margin: 10px; */
}